<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Options</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-calendar"></i> Timetable
            </a>
            <a class="item item-icon-left" ui-sref="notifications">
                <i class="icon ion-android-notifications" ></i> Notifications
                <span class="badge badge-assertive">0</span>
            </a>
        </div>
    </ion-content>
</ion-modal-view>